<html>
<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75272324-1', 'auto');
  ga('send', 'pageview');

  </script>
  <link href="stupid.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<header class="black padded stupid-example">
  <div class="container max900">
    <div class="fill middle">
      <label class="ham fa fa-bars" for="left-menu"></label>
      <div class="burger accordion">
        <input type="checkbox" id="left-menu">
        <ul class="menu">
          <li>
            <a href="index.html" class="black"><strong>PPCG@Nueva</strong></a>
          </li>
          <li><a class="black" href="about.html">About</a>
          </li>
          <li><a class="black" href="currentrules.html">Current Challenge</a>
            <ul>
              <li><a href="currentrules.html">Rules</a></li>
              <li><a href="submit.html">Submit Program</a></li>
              <li><a href="prizes.html">Prizes</a>
                <ul>
                  <li><a href="prizes.html">Prize List</a></li>
                  <li><a href="donate.html">Donate!</a></li>
                </ul> </li>
              <li><a href="leaderboard.html">Current Leaderboard</a></li>
            </ul>
          </li>
          <li><a class="black">Previous Challenges</a>
            <ul>
              <li><a href="previous.html">List of Previous Challenges</a></li>
              <li><a href="halloffame.html">Hall of Fame</a></li>
            </ul>
          </li>
        </ul>
        <ul class="menu right">
          <li><a class="black" href="account">Account</a>
            <ul>
              <li><a href="account">My Account</a></li>
              <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="logout">Logout</a></li>
            </ul>
          </li>
          <li style="width:10px"></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <div class=padded max900>
    <body>
      <center>
        <h2>About</h2>
      </center>
      <div style = "max-width:700px; margin-left:auto; margin-right:auto">
        <strong>Overview</strong>
        <p>
          Every month, a new challenge will be posted on the Current Challenge page.
          About a month after the challenge is posted, the scoring program will judge
          all submitted entries. Soon after, final results will be posted and the winner will recieve a
          prize of their choosing from the prize list upon contacting the organizers.
          A new challenge will be posted shortly after.
        </p>
        <strong>Rules</strong>
        <p>
          We currently accept Python and Javascript submissions. The program
          solutions must have a <tt>main</tt> function which accepts input which
          is posted on the current competition page. Programs are not allowed to
          read files, access the internet, interfere with judging, or otherwise
          do nefarious stuff.
        </p>
        <strong>Contact Us</strong>
        <p>
          Questions? Comments? Concerns? Either contact Ethan at
          ethknig@nuevaschool.org or Arun at arujohn@nuevaschool.org
        </p>
      </div>
    </body>
  </div>
</main>
</html>
