<html>
<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75272324-1', 'auto');
  ga('send', 'pageview');

  </script>
  <link href="stupid.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<header class="black padded stupid-example">
  <div class="container max900">
    <div class="fill middle">
      <label class="ham fa fa-bars" for="left-menu"></label>
      <div class="burger accordion">
        <input type="checkbox" id="left-menu">
        <ul class="menu">
          <li>
            <a href="index.html" class="black"><strong>PPCG@Nueva</strong></a>
          </li>
          <li><a class="black" href="about.html">About</a>
          </li>
          <li><a class="black" href="currentrules.html">Current Challenge</a>
            <ul>
              <li><a href="currentrules.html">Rules</a></li>
              <li><a href="submit.html">Submit Program</a></li>
              <li><a href="prizes.html">Prizes</a>
                <ul>
                  <li><a href="prizes.html">Prize List</a></li>
                  <li><a href="donate.html">Donate!</a></li>
                </ul></li>
              <li><a href="leaderboard.html">Current Leaderboard</a></li>
            </ul>
          </li>
          <li><a class="black">Previous Challenges</a>
            <ul>
              <li><a href="previous.html">List of Previous Challenges</a></li>
              <li><a href="halloffame.html">Hall of Fame</a></li>
            </ul>
          </li>
        </ul>
        <ul class="menu right">
          <li><a class="black" href="account">Account</a>
            <ul>
              <li><a href="account">My Account</a></li>
              <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="logout">Logout</a></li>
            </ul>
          </li>
          <li style="width:10px"></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <div class=padded max900>
    <center>
      <h5>Here are the standings for the current contest</h5>
      <div style="max-width:500px; margin-right:auto; margin-left:auto">
        <table class="fill center">
          <thead>
            <tr>
              <td>
                Name
              </td>
              <td>
                Score
              </td>
            </tr>
          </thead>
          <tbody>
            {% for i in scores %}
              <tr style="center">
              <td>{{ i[0] }}</td> <td>{{ i[1] }}</td>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      </center>
      {% if ignoreLen > 0 %}
        <div style = "max-width:600px; margin-left:auto; margin-right:auto">
          <p>
            Please note - the following programs did not run correctly:
          </p>
          <p>
            <center>
              {{ ignore }}
            </center>
          </p>
          <p>
            If you are the owner of one of these submissions, please double check
            the current rules and the site rules and resubmit. Thanks!
          </p>
        </div>
      {% endif %}
    <center>
      <a class="btn large green rounded" href="run" onclick="javascript:showpBar();"> Run </a>
      <script type="text/javascript">
        function showpBar() {
            document.getElementById('pBar').style.display = "block";
        }
      </script>
      <div class="progress fill" id = "pBar" style="max-width:400px; margin-left:auto; margin-right:auto">
        <div class="indeterminate"></div>
      </div>
    </center>
  </div>
</main>
</html>
