<html>
<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75272324-1', 'auto');
  ga('send', 'pageview');

  </script>
  <link href="stupid.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<header class="black padded stupid-example">
  <div class="container max900">
    <div class="fill middle">
      <label class="ham fa fa-bars" for="left-menu"></label>
      <div class="burger accordion">
        <input type="checkbox" id="left-menu">
        <ul class="menu">
          <li>
            <a href="index.html" class="black"><strong>PPCG@Nueva</strong></a>
          </li>
          <li><a class="black" href="about.html">About</a>
          </li>
          <li><a class="black" href="currentrules.html">Current Challenge</a>
            <ul>
              <li><a href="currentrules.html">Rules</a></li>
              <li><a href="submit.html">Submit Program</a></li>
              <li><a href="prizes.html">Prizes</a>
                <ul>
                  <li><a href="prizes.html">Prize List</a></li>
                  <li><a href="donate.html">Donate!</a></li>
                </ul> </li>
              <li><a href="leaderboard.html">Current Leaderboard</a></li>
            </ul>
          </li>
            <li><a href="previous.html">Previous Challenges</a></li>
          </li>
        </ul>
        <ul class="menu right">
          <li><a class="black" href="account">Account</a>
            <ul>
              <li><a href="account">My Account</a></li>
              <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="logout">Logout</a></li>
            </ul>
          </li>
          <li style="width:10px"></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <div class=padded max900>
    <body>
      <center>
        <h2>Challenge for Patrick's Econ Class</h2>
      </center>
      <div style="max-width:500px; margin-right:auto; margin-left:auto">
        <center>
            <h5>{{ The Prisoner's Dilemma Challenge' }}</h5>
          </center>
          <div class="padded" style="max-width:800; margin-left:auto; margin-right:auto">
              <strong>Your task:</strong>
            <p>
              You will be awarded 5 points if you return <tt>False<\/tt> and your opponent returns <tt>True<\/tt> and 0 points if it is the other way around. If both you and your opponent return <tt>True<\/tt> you will be rewarded with 3 points, however if both you and your opponent return <tt>False<\/tt>, you will recieve 1 point. Your goal is to maximize your score after 20 rounds.
            </p>
            <strong>The challenge rules:</strong>
            <p>
              You must write a program meeting the requirements in the overarching competition rules that plays the iterated prisoner's dilemma. Your function must take in parameters <tt>(round,opMoves,myMoves)<\/tt>, be titled <tt>main<\/tt>, and return either <tt>True<\/tt> or <tt>False<\/tt>.
            </p>
      </div>
      <center>
        <a class="btn large red rounded" href="submit-econ.html">Submit</a>
        <a class="btn large blue rounded" href="leaderboard-econ.html">Leaderboard</a>
      </center>
    </body>
  </div>
</main>
</html>
