<html>
<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75272324-1', 'auto');
  ga('send', 'pageview');

  </script>
  <link href="stupid.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<header class="black padded stupid-example">
  <div class="container max900">
    <div class="fill middle">
      <label class="ham fa fa-bars" for="left-menu"></label>
      <div class="burger accordion">
        <input type="checkbox" id="left-menu">
        <ul class="menu">
          <li>
            <a href="index.html" class="black"><strong>PPCG@Nueva</strong></a>
          </li>
          <li><a class="black" href="about.html">About</a>
          </li>
          <li><a class="black" href="currentrules.html">Current Challenge</a>
            <ul>
              <li><a href="currentrules.html">Rules</a></li>
              <li><a href="submit.html">Submit Program</a></li>
              <li><a href="prizes.html">Prizes</a>
                <ul>
                  <li><a href="prizes.html">Prize List</a></li>
                  <li><a href="donate.html">Donate!</a></li>
                </ul> </li>
              <li><a href="leaderboard.html">Current Leaderboard</a></li>
            </ul>
          </li>
            <li><a href="previous.html">Previous Challenges</a></li>
          </li>
        </ul>
        <ul class="menu right">
          <li><a class="black" href="account">Account</a>
            <ul>
              <li><a href="account">My Account</a></li>
              <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="logout">Logout</a></li>
            </ul>
          </li>
          <li style="width:10px"></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  {% if checked==False %}
    <script>alert('Please check the agree box')</script>
  {% endif %}
  <div class=padded max900>
    <center>
      <h5>Submit your solution for the Iterated Prisoner's Dilemma</h5>
    </center>
  </div>
    <form action = "upload" method = "post" enctype = "multipart/form-data">
      <div class=padded max900 style="max-width:500px margin-left:auto margin-right:auto">
        <div class="container">
          <label class="quarter right">Upload program</label>
          <div class="half">
            <input type="file" name="file">
          </div>
        </div>
        <div class="container">
          <label class="quarter right"></label>
          <div class="half">
            <input type = "checkbox" name="check" value="agreed" />
            I agree not to do anything stupid and follow the rules
          </div>
        </div>
        <div class="container">
          <label class="quarter right"></label>
          <div class="half">
            <input type="submit" value = "Submit">
          </div>
        </div>
      </div>
    </form>
</main>
</html>
